.CompanyDashboard {
  overflow-y: auto;
  position: sticky;
  height: 88vh;
  // .hello {
  //   font-size: 2.5rem;
  //   margin-left: 1rem;
  //   font-weight: bold;
  //   color: #29AAE1;
  // }
  // .welcome {
  //   font-size: 1.5rem;
  //   margin-left: 1rem;
  // }
}
