.companyPassword {
    display: flex;
    justify-content: center;
    align-items: center;
    .box {
        margin-right: 1rem;
        width: 100%;
        height: 88vh;
        background: #fff;
        border-radius: 20px;
    }
}