.CompanyProfile {
    .head {
        width: 100%;
        text-align: start;
        font-size: 2rem;
        margin-bottom: 1rem ;
        font-weight: bold;
    }
    .box {
        margin-right: 1rem;
        margin-bottom: 1rem;
        height: 78vh;
        background: #fff;
        border-radius: 20px;
        overflow-y: auto;
        position: sticky;
    }
    .btn {
        border: 1px solid #1F76BB;
        width: 6rem;
        text-align: center;
        border-radius: 10px;
        font-weight: 600;
        padding: 0.5rem 1rem;
        background-color: #1F76BB;
        cursor: pointer;
        transition: 0.3s;
        color: white;
        &:hover {
            background-color: #298ada;
            transition: 0.3s;
        }
        &:active, &:focus {
            background-color: rgb(14, 0, 212);
        }
    }
}